* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  text-align: center;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://static.wikia.nocookie.net/evil/images/4/42/The_Hell.jpg/revision/latest/scale-to-width-down/1200?cb=20151219215041');
  background-color: #ff00b3  ;
  color: white ;
  background-size:cover;
}


header {
  padding: 0.5rem;
  width: 100%;
  color:  rgb(85,5,5);
  background-color: black;
   background-size: 7px;
  background-repeat:round;
   
}


img {
  width: 350px;
  height: 300px;
}
#delete\ button {
  background-color: white;
  border: none;
  color: red;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  transition-duration: 0.4s;
}
#delete\ button:hover{
  background-color: red;
  color: white;
}
#like\ button{
  background-color: white;
  border: none;
  color: rgb(0, 255, 21);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  transition-duration: 0.4s;
}


#like\ button:hover{
  background-color: rgb(0, 255, 4);
  color: white;
}
input[type=text]{
  background-color: black;
  padding: 6px 10px;
  color: crimson;
  background-image: url('https://cdn-icons-png.flaticon.com/512/218/218322.png');
  background-size: 27px;
  background-repeat: no-repeat;
  padding-left: 30px;
}
input[type=submit]
{
background-color: black;
color: red;
transition-duration: 0.4s
}

#getPrediction{
  color:rgb(128,0,32);
  border-radius: 50px;
  font-size: 25px;
  transition-duration: 0.4s;
}
#getPrediction:hover{
  background-color: rgb(128,0,32);
  color: white;
}
input[type=submit]:hover{
  background-color: rgb(59,5,5);
  color: black;
}
